body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
/* body p{
    font-size: large;
} */
body a{
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    font-size: 30px;
}
.section-area{
    display: flex;
    margin-bottom: 15px; 
}
.section-area p{
   font-size: 30px;
}
.half-width{
        width: 50%;
        padding: 3%;
}
.header-img{
    width: 75%;
}
.about-me-section{
    display: flex;
    background-image: url("images/shapes/Frame\ 58.jpg");
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.about-me{
    width: 50%;
    padding: 3%;
}
img{
    width: 60%;
}
.about-me-des p{
    font-size: 30px;
    margin-bottom: 50px;
}